* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%
}
body {
    color: green;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 70vw;
    height: 30vh;
    border: solid black 2px;
}
.cabecera {
    width: 70vw;
    height: fit-content;
    font-size: 2rem;
    font-weight: bold;
    border: solid black 2px;
    box-shadow: 60px 16px 40px rgba(112, 44, 127, 0.376);
    background-color: aqua;
    color: white;
    right: auto;
}

.footer {
    color:white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgb(89, 133, 130);
    width: 70vw;
    height: fit-content;
    border: solid black 2px;
    padding: 0.5rem;
}