* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 70vw;
    height: 30vh;
    border: solid black;
}